 {{> head }} {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Halo 5</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias magni, voluptas, delectus itaque laudantium quisquam
            sit, ad nihil dolore ex architecto harum explicabo hic beatae tempore reiciendis quas ut non.</p>
    </div>

    <div class="col-4">
        <img src="assets/images/halo5.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}